@charset "UTF-8";

.slideIn {
    animation-name: slideIn;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    z-index: 20;
}

.slideCurrent {
    transform:translateX(0);

}
.slideOut {
    animation-name: slideOut;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    z-index: 10;
}

.slideReady {
    transform:translateX(100%);
}

@keyframes slideOut {
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}