<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.reservation.mapper.FileMapper">
	<insert id="insertFile" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO file_info 
		            (file_name, 
		             save_file_name, 
		             content_type, 
		             delete_flag, 
		             create_date, 
		             modify_date) 
		VALUES      (#{fileName}, 
		             #{saveFileName}, 
		             #{contentType}, 
		             #{deleteFlag}, 
		             Now(), 
		             Now())
	</insert>

	<select id="selectFileByReservationId" resultType="FileInfoDto">
		SELECT 
		    f.id,
		    f.file_name AS fileName,
		    f.save_file_name AS saveFileName,
		    f.content_type AS contentTyle,
		    f.delete_flag AS deleteFlag
		FROM
		    reservation_user_comment_image ci
		        INNER JOIN
		    file_info f ON ci.file_id = f.id
		WHERE
		    ci.id = #{id} AND f.delete_flag = FALSE
	</select>
</mapper>