@charset "UTF-8";

body {
	margin-top: 10%;
	margin-left: 40%;
}

.todo_regist {
	margin-top: 5%;
}

input[type="text"] {
	width: 300px;
	height: 40px;
	font-size: 20px;
}

button {
	width: 124px;
	background: white;
	height: 60px;
	font-size: 20px;
}

.blue-btn {
	background: #10a7c1;
	color: white;
}

.blue-btn:nth-child(2) {
	margin-left: 100px;
}