@charset "UTF-8";

a:link {
	color: white;
	text-decoration: none;
}

section#menu {
	height: 130px;
}

div#myTodo {
	float: left;
	transform: rotate(-30deg);
	margin: 0 0 0 -20px;
	padding: 50px 0 0 0;
	font-size: 30px;
	font-weight: bold;
}

a#regTodo {
	float: right;
	display: block;
	width: 220px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 50px 20px 0 0;
	color: white;
	font-family: "dotum";
	font-weight: bold;
	background: DeepSkyBlue;
}

div#content {
	float: right;
	width: 100%;
	margin: 0 20px 0 0;
}

.article-list {
	float: right;
	display: block;
	width: 30%;
	margin: 0 0 0 10px;
}

.ul-list {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.li-title {
	background-color: DarkSlateGray;
	margin: 0 0 10px 0;
	padding: 5px 10px 5px 10px;
}

.li-content {
	background-color: PowderBlue;
	margin: 0 0 10px 0;
	padding: 5px 10px 5px 10px;
}

.span-content {
	display: block;
	height: 60px;
}