.container {
	
	max-width: 800px;
	padding: 40px;
}
.content {
	padding-left: 10px;
	padding-right: 10px;	
}

header {
	position: relative;
}

header h1 {
	display: inline-block;
    transform: rotate(340deg);
    color: #345461;
}

header button {
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #20ADEE;
	border: 1px solid #CCC;
	color: #FFF;
	width: 160px;
	padding: 10px;
}

.list {
	padding: 10px;
	float: right;
	box-sizing: border-box;
	width: 33%;
	list-style-type: none;
}

.list_header {
	background-color: #345461;
	color: white;
}
.list_item {
	background-color: #CEE5EF;
	padding-right: 35px;
}
li {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	margin: 10px;
	position: relative;
	min-width: 120px;
}
li > p {
	padding: 5px;
	margin: 0;
	border: none;
	width: 100%;
}
li > button {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 0px;
}
#done button{
	visibility: hidden;
}
.title {
	
}
.discription{
	font-size: 12px;
}
.clear{
	clear: both;
}