@charset "UTF-8";

body {
	background-color: #e9e8ff;
}

.content {
	max-width: 1024px;
	min-width: 950px;
	min-height: 480px;
	background-color: white;
	box-sizing: border-box;
	margin: auto;
}