.container_visual * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.visual_img {
	left: 0;
	top: 0;
	list-style:none;
}
.visual_img .item {
	width: 414px;
	float: left;
}
.visual_img img {
	width: 100%
}