@charset "UTF-8";

.page_title {
	position: absolute;
	top: 10%;
	transform: rotate(-30deg);
	font-size: 60px;
	font-weight: bold;
}

.box {
	position: absolute;
	top: 10%;
	right: 2%;
	display: inline-block;
	width: 200px;
	height: 70px;
	line-height: 70px;
	background-color: skyblue;
	color: white;
	text-align: center;
	font-size: 20px;
}

.todo_section {
	position: absolute;
	top: 20%;
	left: 15%;
}

.todo, .doing, .done {
	position: relative;
	display: inline-block;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.item_list {
	padding: 0px;
}

.title-item {
	width: 450px;
	height: 120px;
	line-height: 120px;
	padding: 0px 20px;
	background-color: #688099;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-size: 40px;
}

.item {
	position: relative;
	display: block;
	width: 450px;
	height: 150px;
	background-color: skyblue;
	margin: 10px 0px;
	padding: 5px 20px;
}

.move {
	position: absolute;
	right: 5%;
	bottom: 10%;
}