@charset "UTF-8";

ul {
	list-style-type: none;
}

body {
	border: 20px solid #ecf0ee;
	border-bottom: 200px solid #ecf0ee;
	height: 600px;
}

section {
	margin-left: 25%;
}

#todo_information {
	margin-left: -40px;
}

#register_todo_title {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

#previous_page {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid dimgray;
	margin-left: 40px;
	padding-bottom: 10px;
	width: 150px;
	float: left;
	text-align: center;
	margin-right: 10%;
	padding-top: 10px;
}

.priority_radio_box {
	color: black;
	font-size: 1em;
	margin-right: 20px;
}

.message_box {
	margin-top: 5px;
	height: 40px;
	font-size: 1em;
}

.function_button {
	color: white;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background: #20adee;
	border: 1px solid lightgray;
	width: 150px;
}

.register_todo_contents {
	color: dimgray;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 30px;
}