@charset "UTF-8";

body {
	background: #B2EBF4;
}

#main {
	margin: 5px 10% 5px 10%;
	height: auto;
	background: white;
}

#todo-register {
	height: 50px;
	padding: 30px 10px 0px 0px;
	text-align: right;
}

#todo-register input {
	margin-right: 7%;
}

button {
	float: right;
}

#content {
	padding-top: 50px;
	padding-left: 20%;
}

.todo {
	display: inline-block;
	vertical-align: text-top;
	font-size: 20px;
	width: 30%;
	font-weight: 900;
	color: white;
}

.todo-register input {
	width: 100px;
	color: white;
	background: #20ADEE;
}

.title {
	color: white;
	background: #000081;
	margin-bottom: 10px;
	height: 60px;
	padding-top: 25px;
	font-size: 25px;
	font-weight: 900;
	padding-left: 20px;
}

.list {
	background: #3DB7CC;
	margin-bottom: 10px;
	height: 80px;
	font-weight: 900;
	padding-left: 20px;
	color: black;
}

.list-one {
	font-size: 20px;
	font-weight: 800;
	padding-top: 10px;
}

.list-two {
	font-size: 13px;
	font-weight: 400;
	padding-top: 10px;
	width: 90%;
}

.change-btn {
	float: right;
	font-size: 13px;
	font-weight: 400;
	background: white;
}

#reg-section {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
	text-align: center;
	background: white;
}

#reg-section h1 {
	padding-top: 50px;
}

#reg-section article {
	padding-left: 20%;
	padding-right: 20%;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	color: gray;
}

input {
	margin-top: 10px;
	height: auto; /* 높이 초기화 */
	line-height: normal; /* line-height 초기화 */
	padding: .8em .5em; /* 여백 설정 */
}

input[name="input-title"] {
	width: 80%;
}

input[name="input-name"] {
	width: 40%;
}

input[name="back-btn"] {
	width: 100px;
	color: black;
	background: white; border : 1px solid black;
	text-decoration: underline;
	border: 1px solid black;
}

input[name="submit-todo"] {
	float: right;
	width: 100px;
	color: white;
	background: #20ADEE;
	margin-right: 10px;
	width: 100px;
	color: white;
	background: #20ADEE;
}

input[name="clear-todo"] {
	float: right;
	width: 100px;
	color: white;
	background: #20ADEE;
}

#top {
	padding-top: 50px;
	display: inline-flex;
	padding-left: 80px;
}

#corner {
	margin-top: 50px;
	float: left;
	font-size: 30px;
	font-weight: 900;
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	color: #003399;
}