@charset "UTF-8";

#main_title{
	display : inline-block;
	padding-top : 45px;
	padding-right : 45px;
	margin-left : -25px;
	-webkit-transform : rotate(-30deg); 
	-ms-transform : rotate(-30deg); 
}

.todos {
	display : table;
	margin-top : 50px;
	margin-left : 200px;
	width : 80%;
}

#new_todo {
	position : absolute;
	top : 50px;
	right : 50px;
	padding : 15px 15px;
	text-align : center;
	text-decoration : none;
	background-color : #5CD1E5;
	color : #fff;
	
}

.todos > div {
	display : table-cell;
	width : 30%;
	padding : 0 5px;
}

.todos ul {
	list-style: none;
	padding : 0;
}

.todos > div > p {
	margin : 0;
	padding : 20px 10px;
	background-color : #056;
	color : #fff;
}

.todos li {
	background-color : #D4F4FA;
	margin: 15px auto;
	padding : 20px;
}

.todos li > * {
	margin: 0;
}

.title {
	font-size: 25px;
	font-weight: bold;
}

.go_next {
	width : 25px;
	height : 25px;
	float : right;
}

.regdate {
	display : inline;
}

.name {
	display : inline;
}

.sequence {
	display : inline;
}