<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.nts.reservation.dao.ProductMapper">
	<select id="selectProductCount" resultType="int">
		SELECT	count(product.id)
		FROM	product JOIN display_info
		WHERE	product.id = display_info.product_id
		<if test="categoryId != 0">
			AND category_id = #{categoryId}
    	</if>
	</select>
	
	<select id="selectByDisplayInfoIdAndType" resultType="String">
		SELECT	file_info.save_file_name
		FROM	product
				INNER JOIN product_image ON product.id = product_image.product_id
				INNER JOIN file_info ON product_image.file_id = file_info.id
		WHERE	product_image.type = #{type} AND product.id = #{productId}
	</select>
</mapper>