<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="PromotionMapper">

	<select id="selectMaTypeFileNames" resultType="String"> 
		SELECT fi.save_file_name
		FROM promotion AS prom
		INNER JOIN product AS prod ON prom.product_id = prod.id
		INNER JOIN product_image AS prodi ON prodi.type = 'th' AND prodi.product_id = prod.id
		INNER JOIN file_info AS fi ON fi.id = prodi.file_id
	</select>
	
</mapper>