@charset "UTF-8";

.content_list {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.content_item {
	width: 80%;
	margin: 15px auto;
}

.content_item > h1 {
	margin: 2px 0;
	font-weight: bold;
	font-size: 30px;
}

.content_item > p {
	font-size: 15px;
	margin: 2px 0;
}

.content_item > a {
	font-size: 15px;
	text-decoration: none;
}