@charset "UTF-8";

.section {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.greeting, .description, .profile_list, .map_image_container {
	margin: 15px auto;
}

.greeting {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.description {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.profile_list {
	list-style-type: none;
	width: 250px;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.profile_list_item {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #11af58;
	box-shadow: 3px 3px 1.5px 1.5px gray;
	display: flex;
}

.profile_list_item > p {
	margin: auto;
	color: white;
	height: 40px;
	line-height: 40px;
}

.profile_list_item > p:hover {
	color: gray;	
}

.map_image_container {
	width: 800px;
	height: 450px;
	overflow: hidden;
}