.content {
	text-align: center;
}

.content ul {
	list-style-type: none;
	margin: 10px;
	
}

.content li {
	
	display: inline;
	vertical-align: middle;
	display: inline-block;
	width: 100px;
	height: 20px;
	background-color: #75B6D7;
	box-shadow: 3px 3px 3px #aaaaaa;
	-webkit-box-align: middle!important;
	padding: 30px 0;
}

img {
	width : 80%;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #333333;
}
a:active {
	color: #ABC;
}
a:hover {
	color: #CDA;
}