@charset "UTF-8";

.main_content {
	display: block;
	background-color: #fff;
	margin: 0 auto;
	padding: 80px 10px;
}

.main_content>* {
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {
	margin: 0;
}

.introduce {
	text-align: center;
}

.main_content>img {
	max-width: 1000px;
	display: block;
	margin: 0px auto;
}

.button_list {
	list-style: none;
	padding: 0;
}

.btn_kategorie {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
	background-color: #abf200;
	box-shadow: 3px 3px 3px #aaa;
}

.btn_kategorie>a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}