body {
	background-color: #72dac2;
}

body > * {
	width: 1200px;
	background-color: #FFF;
	margin: 5px auto;
	text-align: center;
	box-sizing: border-box;
}

header {
	position: relative;
	height: 55px;
}

header ul {
	list-style-type: none;
	position: absolute;
	top: 10px;
	right: 20px;
	margin: 0;
}

header li {
	display: inline-block;
}

header li div {
	display: inline-block;
	background-color: #75B6D7;
	width: 100px;
	height: 25px;
	box-shadow: 3px 2px #aaaaaa;
	vertical-align: middle;
	padding: 5px;
}

.content {
	padding: 10px;
}

footer {
	height: 90px;
	padding: 20px;
}

p {
	margin: 0;
}
