@charset "UTF-8";

#mainContent {
	display: block;
	background-color: #FFF;
	margin: 0 auto;
	padding: 80px 10px;
}

.photoContent {
	height: 300px;
	margin: 20px;
	display: flex;
	align-items: center;
}
.photo{
	width: 250px;
	max-height: 250px;
	border: 5px solid #555;
}
.explanation{
	padding-left: 50px;
}