@charset "UTF-8";

.content_list {
	list-style-type: none;
	padding: 0;
}

.content_item {
	overflow: hidden;
	position: relative;
}

.content_item > img {
	width: 200px;
	height: 200px;
	border: 15px solid gray;
	float: left;
	margin: 40px 50px;
}

.content_item > p {
	margin: 40px 20px;
	line-height: 35px;
	float: left;
}

.content_item:after {
	display: block;
	width: 98%;
	border-bottom: 3px solid gray;
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.content_item:last-child:after {
	border: none;
}