@charset "UTF-8";

#text-list {
	margin-left: 100px;
	margin-right: 150px;
	text-align: left;
}

ul a {
	text-decoration: none;
}

.title {
	font-size: 2em;
	font-weight: bold;
}

.contents {
	font-size: 1.3em;
	margin-bottom: 40px;
}