@charset "UTF-8";

.title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	display: block;
}

p {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}