@charset "UTF-8";

p {
	text-align: left;
}

.aboutMeSection {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

.aboutMeArticle {
	margin: 10px 10em 10px 10em;
}