@charset "UTF-8";

.content_area {
	width: 95%;
	display: block;
	background-color: #fff;
	margin: 0 auto;
	padding: 80px 40px;
}

.name {
	text-align: center;
}

.introduce {
	text-align: center;
}

.main_image {
	max-width: 1000px;
	display: block;
	margin: 0px auto;
}

.link_section {
	text-align: center;
}

.link_list {
	list-style: none;
	padding: 0;
}

.link_kategorie {
	width: 100px;
	height: 100px;
	display: inline-table;
	margin: 10px;
	background-color: #abf200;
	box-shadow: 3px 3px 3px #aaa;
}

.link {
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
}
