@charset "UTF-8";

.colored_bg {
	background-color: #8ec7d0;
}

.kategorie_section {
	height: 100px;
	background-color: #fff;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav_list {
	list-style: none;
	text-align: right;
	padding: 10px;
}

.kategorie {
	width: 100px;
	height: 50px;
	display: inline-block;
	background-color: #abf200;
	box-shadow: 3px 3px 3px #aaa;
	display: inline-block;
}

.kategorie>a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	height: 100px;
	background-color: #fff;
	margin: 10px auto;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
