@charset "UTF-8";

.colored_bg {
	background-color: #8ec7d0;
}

.category_section {
	width: 95%;
	height: 100px;
	background-color: #fff;
	display: flex;
	margin: 10px auto;
	padding: 0 40px;
	align-items: center;
	justify-content: flex-end;
}

.category_section>ul {
	list-style: none;
	padding: 10px;
}

.category {
	width: 100px;
	height: 50px;
	display: inline-table;
	margin: 10px;
	background-color: #abf200;
	box-shadow: 3px 3px 3px #aaa;
}

.category>a {
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.footer_section {
	width: 95%;
	height: 100px;
	background-color: #fff;
	margin: 10px auto;
	padding: 5px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.servlet_body {
	display: table;
}
.servlet_body>div {
	display: table-cell;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
}

.servlet_body>a {
	position: absolute;
	top: 0;
	left: 0;
}

.current_time {
	text-align: center;
}
