@charset "UTF-8";

.content_area {
	display: block;
	background-color: #fff;
	margin: 0 auto;
	padding: 80px 10px;
}

.each_content {
	width: 100%;
	height: 300px;
	margin: 20px;
	display: table;
}

.photo_content{
	display: table-cell;
	vertical-align: middle;
}

.photo {
	width: 250px;
	max-height: 250px;
	border: 5px solid #555;
	margin-right: 50px;
	vertical-align: middle;
}

.explanation{
	display: inline-block;
}
