img {
	border: 5px solid #777;
	width: 90%;
}

.content {
	padding: 10px 40px;
}

article {
	width:90%;
	min-height:200px;
	position:relative;
	overflow:hidden;
	margin: 0 auto;
}

article > div {
	float: left;
}

article .photo {
	width:300px;
}

article .photo_info {
	text-align: left;
	padding-left: 30px;
	
}