@charset "UTF-8";

.servlet_body {
	display: table;
}
.time_area{
	display: table-cell;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
}

.system_time {
	text-align: center;
}

.go_main {
	position: absolute;
	top: 0;
	left: 0;
}
